body {background-color: black;
}

h1 {color: white;
    text-align: center;
	padding: 10px;
	font-size: 80px;
}

nav {padding: 5px;
	 Margin-top: 8%;
}

ul {text-align: center;
	font-size: 50px;
}

li {list-style-type: none;
	display: inline-block;
}

a {color: white;
   transition: 1s;
}

a:hover {color: red;
		 transition: 1s;
}

#Test {margin-right: 1%;
}

#Good {margin-right: 1%;
}

#Giphy {margin-right: 1%;
}


